body {
  background-color: #FFBF00;

}
h1, p {
  text-align: center;
  
}

form {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px; /* adicionando espaço abaixo da pergunta */
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}


form input[type="radio"] {
  margin: 5px;
}

button {
  background-color: #FFFFFF;
  color: #00ff03;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%; /* adiciona esta linha */
}

button:hover {
  background-color: #3e8e41;
  color: white;
}


.pergunta:first-child {
  margin-bottom: 20px;
}
.dialogo-estilo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dialogo-estilo #fechar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
    display: none;
}

label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 10px; /* adiciona um espaçamento de 10px entre cada label */
  margin-bottom: 10px; /* adiciona um espaçamento de 10px abaixo de cada label */
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer; /* adiciona o cursor pointer para indicar que o elemento é clicável */
}


input[type="radio"]:checked + label {
    background-color: green;
    color: white;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais a {
  margin: 0 10px;
}
